* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white
}

header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(38,38,41);
    width: 100%;
}

.headerLogo {
    font-size: 2.5rem;
    display: block;
    padding: 1.5rem;
}

.headerLogo a{
    color: white;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list a {
    display: block;
    font-size: 1.8rem;
    padding: 2rem;
    color: white;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    column-gap: 50px;
    background-color: #252728;
    color: white;
}

.welcome-section-text {
    max-width: 30%;
}

.welcome-section-text  * {
    margin-top: 8px;
}

.welcome-section-title {
    font-size: 3.5rem;
}

.welcome-section-subtitle {
    font-size: 2.5rem;
}

.welcome-section-p {
    font-size: 1.5rem;
}

.welcome-section-button {
    font-size: 1.5rem;
    padding: 12px;
    border: 2px solid white; /* Color for variable  */
    display: inline-block;
    background-color: rgb(149, 200, 220); /* Color for variable */
    border-radius: 10px;
}

.welcome-section-button i {
    margin-left: 1.5rem;
    color: white; /* Color for variable */
}

.welcome-section-img {
    max-width: 200px;
}

.welcome-section-img img{
    width: 100%;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.about-me-statics-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.about-me-title-container {
    padding-bottom: 30px;
}

.about-me-img {
    max-width: 280px;
}

.about-me-img img {
    width: 100%;
}

.about-me-text {
    max-width: 30%;
}

.about-me-title {
    font-size: 2.5rem;
}

.about-me-subtitle {
    font-size: 2rem;
}

.about-me-p {
    font-size: 1.5rem;
}

.about-me-statics {
    padding:30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me-static1 span, .about-me-static2 span{
    display: block;
}

.about-me-statics-title {
    font-size: 2rem;
    font-weight: bold;
}

.about-me-statics-text {
    font-size: 1.6rem;
    font-weight: 300;
}

.about-me-button {
    
    font-size: 1.5rem;
    padding: 12px;
    border: 2px solid black; /* Color for variable  */
    display: inline-block;
    background-color: rgb(149, 200, 220); /* Color for variable */
    border-radius: 10px;
    color: black;
}

.about-me-button i {
    margin-left: 1.5rem;
    color: black;
}