* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(38,38,41);
    width: 100%;
}

.headerLogo {
    font-size: 2.2rem;
    display: block;
    padding: 2rem;
}

.headerLogo a{
    color: white;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color: white;
}